{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>WEB | PORTOFOLIO</title>
</head>
<body>
    <div class="fcontainer">
        <nav>
            <img src="{% static 'img/2.png' %}" class="logo">
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/about/">ABOUT</a></li>
                <li><a href="/blog/">BLOG</a></li>
                <li><a href="/contact/">CONTACT</a></li>
            </ul>
        </nav>
        <div class="text">
            <h1>I,M Rachmad<span>Hidayat</span></h1>
            <p>This is my first Portfolio website to feature my official web page.</p>
            <a href="https://drive.google.com/uc?export=download&id=1EeUjhgwygzT282YjG-YLuanr7rxfZ6f3">Download CV</a>
        </div>
        <div class="img">
            <img src="{% static 'img/shape.png' %}" class="shape">
            <img src="{% static 'img/Dadang.png' %}" class="men">
        </div>
    </div>
</body>
</html>